{% extends 'base.html' %} {% block content %}

<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<section class="no-touch">
 <div class="w3-card" style="background-color:  black; margin-top: -100px">
  <div class="wrap" style="height: 500px" >

    {% for photo_item in photos%}

    <a href="{% url 'myPhoto' photo_item.id %}">
     
    <div class="box">
       <div class="titleBox" style=" color: white; font-family: 'Crimson Text', serif;margin-top: -5px">{{photo_item.name|upper}}</div>
      <div class="boxInner">
        <img src="{{photo_item.image.url}}"  class="img-responsive" style="margin-bottom: -90px">
        
      </div>

    </div>
   
    {% endfor %}

  </div>
</script>
</section>

{% endblock %}
